.box{
    padding: 20px;
    margin: 20px;
    float: left;
}

.dashed{
    border: 1px blue dashed;
}

.groove{
    border: 14px blue groove;
}

.double{
    border: 14px blue double;
}

.dotted{
    border: 14px blue dotted;
}

.inset{
    border: 14px blue inset;
}

.solid{
    border: 14px blue solid;
}

.outset{
    border: 14px blue outset;
}